
html,
a              : hover,
h1,
h2,
h3,
h4,
h5,
footer ul li a : hover,
footer ul li a : focus,
footer ul li a : active,

/* index.html css */
/** GENERAL STYLES **//
.heading-font {
  font-family    : 'Bitter', 'Helvetica', 'Arial', 'sans-serif';
  font-weight    : 200;
  letter-spacing : 1px;
}

.body-font {
  font-family : 'Source Sans Pro', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family    : 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing : 2px;
  text-transform : uppercase;
}

body {
  height : 100%;
  width  : 100%;
}

body {
  font-family : 'Source Sans Pro', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color              : #fdcc52;

  -webkit-transition : all 0.35s;
  -moz-transition    : all 0.35s;
  transition         : all 0.35s;
}

a:focus {
  color : #fcbd20;
}

h6 {
  font-family    : 'Bitter', 'Helvetica', 'Arial', 'sans-serif';
  font-weight    : 200;
  letter-spacing : 1px;
}

p {
  margin-bottom : 20px;

  font-size     : 18px;
  line-height   : 1.5;
}

.text {
  font-size : 40px;
}

/** SOCIAL MEDIA BUTTONS ****/
.btn {
  font-size : 30px;
}

/** FOOTER **/
footer {
  padding          : 25px 0;

  background-color : #222222;
  color            : rgba(255, 255, 255, 0.3);
  text-align       : center;
}

footer p {
  margin    : 0;
  font-size : 12px;
}

footer ul {
  margin-bottom : 0;
}

footer ul li a {
  font-size : 12px;
  color     : rgba(255, 255, 255, 0.3);
}

footer ul li a.active {
  text-decoration : none;
}

/*** HEADER ***/
header {
  position   : relative;

  overflow-y : hidden;
  min-height : 100vh;
  width      : 100%;

  background : #7b4397;
  /* fallback for old browsers */
  background : -webkit-linear-gradient(to left, #438D21, #2D8D9F);
  /* Chrome 10-25, Safari 5.1-6 */
  background : linear-gradient(to left, #438D21, #2D8D9F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color      : white;
}

header .header-content {
  position   : relative;

  padding    : 150px 0 50px;

  text-align : center;
}

header .header-content .header-content-inner {
  position  : relative;

  max-width : 500px;
  margin    : 0 auto;
}

header .header-content .header-content-inner h1 {
  margin-top    : 0;
  margin-bottom : 30px;

  font-size     : 40px;
}

@media (min-width: 768px) {
  header {
    min-height : 100%;
  }

  header .header-content {
    height     : 100vh;
    padding    : 0;

    text-align : left;
  }

  header .header-content .header-content-inner {
    position  : absolute;
    top       : 50%;

    max-width : none;
    margin    : 0;

    transform : translateY(-50%);
  }

  header .header-content .header-content-inner h1 {
    font-size : 45px;
  }
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size : 50px;
  }
  header .header-content .header-content-inner {
    position  : absolute;
    top       : 50%;

    max-width : 75%;
    margin    : 0;

    transform : translateY(-50%);
  }
}