/* general css */

.about-format {
 margin-left: 30px; 
 margin-right: 30px;
 padding: 10px 15px 10px 15px;
 
}

.project-box {
  padding: 30px;
  border:1px solid lightgray;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 15px;
}

.big-text {
  font-size: 1.25em;
}

.btn-circle {
  border-radius: 50px;
  border-color: lightgray;
}

.btn-circle:hover {
  background-color: white;
  color: orange;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: orange;
}

.btn-social-icon {
  font-size: 40px;
  padding-bottom: 5%;
}

span.glyphicon-menu-down {
    font-size: 50px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
}

span.glyphicon-menu-down:hover, .highlight:hover, .btn-social-icon:hover {
  color: orange;
  }

.jumbotron {
  color: black;
  padding-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}


h3 {
  text-align: center;
}

.navbar {
  margin-left: 60%;
  border-radius: 15px;
  background-color: transparent;
  border: none;
}

#myNavbar {
  text-align: right;
}


/* media queries */

@media (max-width: 800px) {
  h1 {
    font-size: 60px;
  }

  .navbar {
    margin-left: 80%;
  }


}