*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #7C7575;
}

a {
	text-decoration: none;
	color: #3B95F0;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}


/** MAIN SECTION **/


.string-labs-logo {
	margin: 0 auto;
	width: 20%;
}

.main-hero {
	text-align: center;
	margin: 0;
	background-color: #222;
	height: auto;
}

.main-logo-div {
	margin: 5% auto;
	font-size: 2em;
}
.d-logo {
	width: 80%;
	margin: 0 auto;
}

.main-hero p {
	margin: 0;
}

.main-message {
	color: #7C7575;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	font-size: 20px;
	line-height: 30px;
}

.small-logos {
	width: 70%;
	margin: 0 auto;
}

.company-logos {
	margin-top: 5%;
}


/** DFINITY section **/

.dfinity {
	border-top: 6px solid #3EC6C3;
	background: #CAC5BF;
	height: auto;
}

.dfinity-logo {
	display: block;
	margin: 0 auto;
	width: 50%;
}

.dfinity-link {
	background-color: #484848;
	display: block;
	margin: 15px auto;
	padding: 15px;
	width: 30%;
	text-align: center;
	font-size: 1em;
	border-radius: 15px;
}

.box {
	background: #555555;
	color: white;
	font-size: 1em;
	padding: 40px;
	border-radius: 15px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.box-messages {
	margin: 0 auto;
}

.dfinity-message {
	font-family: 'Quicksand', sans-serif;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.dfinity-message h3 {
	color: black;
}

.dfinity-message p {
	text-align: center;
}

.dfinity-square {
	display: inline-block;
	width: 30%;
	padding: 20px;
}

.dfinity-partners-logo {
	display: block;
	margin: 0 auto;
	width: 70%;
}

/** PHI section **/

.phi-section {
	border-top: 6px solid hotpink;
}


/** Bootstrap Grid Modification **/

.container-20 {
	padding: 0 10%;
}
