/* remove padding and margins*/
html, body {
  height: 100%;
}

/* change image size*/

img {
  width: 40%;
  height: 40%;
  margin-top: 30px;
}


/* Other styling */

.highlight {
  font-size: 1.25em;
  font-weight: bold;
  color: darkgray;
  margin-top: 10px;
}

.btn-highlight {
  background-color: #18bc9c;
  border: none;
  width: 50%;
  height: 30%;
  font-size: 1.25em;
  margin: 0 auto;
}

/*social media icons */
.fa-large {
  color: black;
  padding-right: 10px;
  font-size: 3em;
}