/* general css */

/* 
standard orange color - rgb(243, 195, 61) 
teal blueish color -rgb(0, 204, 204);
forest-green like color rgb(102, 204, 0);

lightgray color - rgb(192, 191, 187)
*/

body {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}


/* bio page */


#about {
  margin: 0 5% 0 5%;
  padding: 0 10% 10% 10%;
}

.about-text {
  font-size: 1.4em;
  text-align: center;
}

div.container.bio {
  margin: 0 auto;
}

.bio {
  margin: 5% 10% 30% 10%;
  padding: 15px;
  font-size: 1.4em;
}

/* social media and links */

// .btn-circle {
//   border-radius: 50px;
//   border-color: rgb(192, 191, 187);
// }

// .btn-circle:hover {
//   background-color: white;
//   color: rgb(243, 195, 61);
// }

a:link, a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(243, 195, 61);
}

.btn-social-icon {
  font-size: 40px;
  padding-bottom: 5%;
}

.highlight:hover, .btn-social-icon:hover {
  color: rgb(243, 195, 61);
  }

.gold {
  color: rgb(243, 195, 61);
}

/* images */

.dana-profile {
  width: 30%;
  height: 30%;
  border-radius: 15px;
}


.vancouver {
  width: 50%;
  margin: auto;
  display: block;
}

/* jumbotron */

.jumbotron, .footer {
  font-family: 'Bungee Hairline', cursive;
  color: black;
}

.jumbotron, .footer {
  background-color: transparent;
}

.jumbotron {
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
}

.plus {
  color: rgb(243, 195, 61);
}

/* navbar header */

.glyphicon-th-large, .navbar-brand {
  font-size: 20px;
  color: rgb(243, 195, 61);
}

.navbar-brand, .navbar-nav {
  margin-top: 10px;
  font-family: 'Bungee Hairline', cursive;
}



/* footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

/** works page **/

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content-content: space-between space-around;
  text-align: center;
  margin-bottom: 20%;
  margin-top: 5%;
}

.flex-child {
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 15px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  overflow: auto;
  border-radius: 15px;
}

.flex-child p, .flex-child h4 {
  font-size: 1.4em;
}

.flex-child img {
  padding: 15px;
}

.flex-child a:link, .flex-child a {
  color: black;
}

.flex-child a:hover {
  text-decoration: none;
  color: black;
}

img.works-image {
  -webkit-width: 100px;
  -webkit-height: 100px;
  -moz-width: 100px;
  -moz-height: 100px;
  -o-width: 100px;
  -o-height: 100px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}


.page-title{
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: 'Bungee Hairline', cursive;
}

.flex-child h4 {
  font-weight: bold;
  font-family: 'Bungee Hairline', cursive;
}



/* media queries */

@media (max-width: 600px) {

  .dana-profile {
    width: 50%;
    height: 50%;
  }

}
